<!-- Code on this page adapted from home.j2 in the cs340 materials here: https://canvas.oregonstate.edu/courses/2017561/pages/exploration-web-application-technology-2?module_item_id=25645131 -->

{% extends "main.j2" %}
   {% block db_table %}
    <h1>Welcome to the Neighborhood Lending Library!</h1>
    <h2>Created by Julie Anzaroot and Margaret Barnes for CS 340.</h2>
    {% endblock %}

    {% block reset %}
    {{ super() }}
    {% endblock %}

    {% block forms %}
    {% endblock %}



