<!-- Code on this page adapted from main.j2 in the cs340 materials here: https://canvas.oregonstate.edu/courses/2017561/pages/exploration-web-application-technology-2?module_item_id=25645131 -->

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CS340 - Neighborhood Lending Library</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href='static/style.css' rel='stylesheet' > 
</head>
<body>
    <nav>
      Navigation
        <a href="/">Home</a>
        <a href="/users">Users</a>
        <a href="/resources">Resources</a>
        <a href="/loans">Loans</a>
        <a href="/locations">Locations</a>
        <a href="/resourceLocations">ResourceLocations</a>
    </nav>

    {% block content %}{% endblock %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="alert alert-info" role="alert">
            <ul class=flashes style="list-style-type: none;>
            {% for category, message in messages %}
              <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
    {% endwith %}

  </body>
</html>