<!-- Code on this page adapted from bsg-people.j2 in the cs340 materials here: https://canvas.oregonstate.edu/courses/2017561/pages/exploration-web-application-technology-2?module_item_id=25645131 -->

{% extends "main.j2" %}
{% block content %}

<h1> Resource Locations</h1>

<h2> {{heading}} </h2>

{# READ table #}
<table>
    <thead>
        {# For the table header row, we print the DB attribute names #}
        <tr>
            {% for header in headers %}
            <th>{{ header }}</th>
            {% endfor %}
        </tr>
    </thead>

    <tbody>
        {% for resourceLocation in resourceLocations %}
        <tr>
            <td>{{ resourceLocation.resourceName }}</td>
            <td>{{ resourceLocation.locationName }}</td>

            {# DELETE form #}
            <form id="delete_resourceLocation_form" action="/delete" method="POST">
                <input type="hidden" name="table" value="resourceLocations">
                <input type="hidden" name="id" value="{{ resourceLocation.resourceLocationsID }}">
                <input type="hidden" name="name" value="{{ resourceLocation.resourceName }} {{ resourceLocation.locationName }}">
                <td>
                    <button type="submit">
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {% endfor %}
    </tbody>
</table>

{# UPDATE form #}
<div>
    <h6>Update a Resource Location</h6>
    <form class="cuForm" id="update_resourceLocation_form" action="/update" method="POST">
        <input type="hidden" name="table" value="resourceLocations">
        <label for="update_id">Resource Location to Update: </label>
        <select name="update_id" id="update_resourceLocation_id" required>
            <option value="" disabled selected>Select a resource location to edit</option>
            {% for resourceLocation in resourceLocations %}
            <option value="{{resourceLocation.resourceLocationsID}}" required>
                {{resourceLocation.resourceName}}
                -
                {{resourceLocation.locationName}}
            </option>
            {% endfor %}
        </select>

        <label for="update_data">New location: </label>
        <select name="update_data" id="update_location" required>
            <option value="NULL" selected>Select a location</option>
            <option value="NULL">&lt; None &gt;</option>
            {% for location in locations %}
            <option value="{{location.id}}" required>
                {{location.name}}
            </option>
            {% endfor %}
        </select>

        <input type="submit">
    </form>
</div>

{# INSERT form #}
<h6>Create a Resource Location</h6>
<form class="cuForm" id="create_resourceLocation_form" action="/create", method="POST">
    <input type="hidden" name="table" value="resourceLocations">
    <label for="create_resource">Resource: </label>
    <select name="create_resource" id="create_resource" required>
        <option value="NULL" selected>Select a Resource</option>
        <option value="NULL">&lt; None &gt;</option>
        {% for resource in resources %}
        <option value="{{resource.id}}" required>
            {{resource.name}}
        </option>
        {% endfor %}
    </select>

    <label for="create_location">Location: </label>
    <select name="create_location" id="create_location" required>
        <option value="NULL" selected>Select a location</option>
        <option value="NULL">&lt; None &gt;</option>
        {% for location in locations %}
        <option value="{{location.id}}" required>
            {{location.name}}
        </option>
        {% endfor %}
    </select>

    <input type="submit">
</form>
{% endblock %}